.header{
    background-color: #151a1f;
    color:#fff;
    display:flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.header h1{
margin: 0;
}

.logout-btn{
background-color: orange;
color: #fff;
padding: 10px 20px;
border: none;
cursor:pointer
}