.product-details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom: 210px;

}
.image{
    width:300px;
    height:300px;
    object-fit:contain;
    margin-right:20px;
}
.product-info{
    flex:1;
}
.product-title{
    font-size: 24px;
    font-weight:bold;
}
.product-description{
    font-size:16px;
    margin-top:10-x
}
.product-price{
    font-size: 24px;
    font-weight:bold;
    color:rgb(244, 112, 75)
}
.buynow-btn{
    display: block;
    margin-top:20px;
    padding:10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border:none;
    cursor:pointer;
}
.goback-btn{
    display: inline-block;
    margin-top:20px;
    padding:10px 20px;
    color:#333;
    font-size:16px;
    font-weight: bold;
    text-decoration: none;
    border:none;
}